@falabella-gitlab:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=YAWH_CSM4aBPyztRDtig
//gitlab.com/api/v4/projects/23294368/packages/npm/:_authToken=YAWH_CSM4aBPyztRDtig
//gitlab.com/api/v4/projects/23176453/packages/npm/:_authToken=YAWH_CSM4aBPyztRDtig